@page
@model AutoMapperApp.Web.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1>@ViewData["Title"]</h1>

@if (Model.MappedProduct != null)
{
    <div class="card p-4">
        <h2>@Model.MappedProduct.NomeProduto</h2>
        <hr />
        
        <dl class="row">
            
            <dt class="col-sm-4">Preço:</dt>
            <dd class="col-sm-8">
                <strong>@Model.MappedProduct.Price</strong>
            </dd>

            <dt class="col-sm-4">Registrado em:</dt>
            <dd class="col-sm-8">
                @Model.MappedProduct.DataRegistro
            </dd>
            
            @* Se tivesse mais propriedades, como uma descrição, seriam exibidas aqui *@
        </dl>
    </div>
}
else
{
    <p>Produto não encontrado.</p>
}