@page
@model IndexModel
@{
    ViewData["Title"] = "Teste AutoMapper";
}

<h1>Teste de Mapeamento com AutoMapper</h1>

<div>
    <h2>Dados Mapeados (ViewModel)</h2>
    <dl class="row">
        <dt class="col-sm-3">Nome do Produto:</dt>
        <dd class="col-sm-9">@Model.MappedProduct.NomeProduto</dd>

        <dt class="col-sm-3">Preço Formatado:</dt>
        <dd class="col-sm-9">@Model.MappedProduct.Price</dd>
        
        <dt class="col-sm-3">Data de Registro:</dt>
        <dd class="col-sm-9">@Model.MappedProduct.DataRegistro</dd>
    </dl>
</div>